.App {
  text-align: center;
}

.header{
  display: flex;
  margin: 40px;
  justify-content: center;
}

.btn-comp{
  border: none;
  margin: 40px;
  width:200px;
  color:rgb(96, 95, 95);
  background-color: transparent;
  font-size: 24px;
}

.stopwatch{
  /* border:1px black solid; */
  width:200px;
  line-height:200px;
  margin:80px auto 50px auto;
  font-size: 30px;
  /* padding:80px; */
  border: 5px solid transparent;
  border-radius: 50%;
  position: relative;
  background:
    linear-gradient(white,white) padding-box,
    linear-gradient(45deg, blue,red) border-box;
  box-shadow:  0px 0px 24px 0px rgba(99, 94, 94, 0.8);
} 

.btn-control{
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  padding:12px 24px;
  width:120px;
  margin:40px;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 0px rgba(150, 138, 138, 0.8);
}
.timer-input{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  /* background-color: beige; */
  width:200px;
  margin: 20px auto 20px auto;
  padding:24px 36px;
  /* border: 5px; */
  border-radius: 30px;
  /* box-shadow: var(--shadow); */
  /* background-image: linear-gradient(#9d00ff, #9d00ff, #2e91e5); */
  box-shadow:  0px 0px 8px 0px rgba(223, 220, 220, 0.8);
}
.input{
  text-align: center;
  width:40px;
  line-height: 40px;
  border:none;
  font-size:20px;
  margin: 10px;
  border-bottom: 2px grey solid;
  &:focus, &:active{
    border: none;
    outline:none;
    border-bottom: 2px black solid;
  }
}
